<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
        <h3>대학생이 된 후 여가시간을 어떻게 활용하고 싶나요?<br>
            두 선택지 중 가장 이끌리는 것을 선택해보세요!</h3>

        <img src="{% static 'css/img/holy.png' %}">
        <button><a href="{%url 'act' %}">나는 성경을 통해 세상을 배워!(종교)</a></button>
        <img src="{% static 'css/img/volunteer.png' %}">
        <button><a href="{%url 'volunteer' %}">사회에 공헌하는 건 이로운 일이야! 꾸준한 봉사를 해보고 싶어(봉사)
        </a></button>
        <br>
        <button><a href="{%url 'A' %}">뒤로가기</a></button>
    </body>
</html>