<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
        <h3>대학생이 된 후 여가시간을 어떻게 활용하고 싶나요?<br>
            두 선택지 중  가장 이끌리는 것을 선택해보세요!</h3>

        <img src="">
        <button><a href="{%url 'A_a' %}">자기성찰과 사람들에게 도움이 되는 활동을 해보고 싶어!(봉사,종교)</a></button>
        <button><a href="{%url 'A_b' %}">본격적인 공부를 하며 내 실력을 더 키우고 싶어! (사회, 개발)</a></button>
        <button><a href="{%url 'A_c' %}">학업에 지친 나에게 힐링되는 활동을 하고싶어!(자연,사진,음악)</a></button>
        <br>
        <button><a href="{%url 'Qna' %}">뒤로가기</a></button>
    </body>
</html>