<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/content.css' %}">
    </head>
    <body>
        <div id="ready">나와 가장 어울리는 동아리는... </div>
        <div id="content">당신은 사랑 받기 위해 태어난 사람~ </div>
        <div id="name"> "종교 동아리"</div><hr>

        <article>
            <h1>&lt;ACT&gt;</h1>
            <img src="">
            <p>성경 공부에 열중하고 싶은 당신! 혹시 "ACT"는 어떠신가요?

                ACT는 종교 동아리로서 성경을 통해 소통하고 나누며 성경 지식을 얻을 수 있습니다.
                또한, 교회와 협력하여 대외 봉사활동까지 겸할 수 있습니다.
                
                신앙심을 다잡고 싶거나, 삼육대학교의 교리를 알고 싶다면 ACT에 가입해보세요!</p>
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법: </li>
                </ul></p> 
        </article>

        <button><a href="{%url 'list' %}">다른 동아리 보러가기!</a></button><br>
    </body>
</html>