<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
    
        <h3>대학생이 된 후 여가시간을 어떻게 활용하고 싶나요?<br>
            두 선택지 중 가장 이끌리는 것을 선택해보세요!</h3>
        
        <img src="">
        <button><a href="{%url 'idea' %}">머릿속에 상상이 가득해! 빨리 만들어 내고 싶어!(아이디어)</a></button>
        <button><a href="{%url 'content' %}">2한 분야만 판다! 공부를 이렇게 했더라면.. (컨텐츠)
        </a></button>
        <br>
        <button><a href="{%url 'B' %}">뒤로가기</a></button>
    </body>
</html>