<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
        <h3>대학생이 된 후 여가시간을 어떻게 활용하고 싶나요?<br>
            두 선택지 중 가장 이끌리는 것을 선택해보세요!</h3>

        <img src="">
        <button><a href="{%url 'B_a' %}">온몸에 땀이 뻘뻘;;.. 몸을 쓰면 스트레스도 풀려! (스포츠,댄스)        </a></button>
        <button><a href="{%url 'B_b' %}">나에게는 통통 튀는 아이디어가 있어! 사람들과 공유하여 실행하고 싶어! (아이디어, 컨텐츠)
        </a></button>
        <br>
        <button><a href="{%url 'Qna' %}">뒤로가기</a></button>
    </body>
</html>