<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
        <div id="ready">나와 가장 어울리는 동아리는... </div>
        <div id="content"> 같이 입덕해요! </div>
        <div id="name"> 컨텐츠 동아리</div>
        <hr>
        <article>
            <h3>Draftmation</h3>
            <img src="">
            <p>문화 컨텐츠에 관심이 많은 당신,<br>
                학교 유일 덕질 동아리인 Draftmation을 추천합니다!<br>
                애니, 영화, 웹툰, 게임, 드라마 등 여러분이 상상하시는 모든 장르에 대하여 깊게 파보는 시간을 가질 수 있습니다.</p>
            <p>21년 모집 상황
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법:</li>
                </ul></p> 
        </article>
        <article>
            <h3>Final Cut</h3>
            <img src="">
            <p>영화를 제작해보고 싶은 당신,<br>
                단편 영화 제작 동아리인 Final Cut을 추천합니다!<br>
                촬영, 미술, 배우 등 여러 분야의 사람들이 모여 하나의 작품을 만들어내는 동아리를
                원한다면 같이 공모전도 준비할 수 있습니다.</p>
            <p>21년 모집 상황
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법:</li>
                </ul></p> 
        </article>
        <button><a href="{%url 'list' %}">다른 동아리 보러가기!</a></button>
    </body>
</html>