<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
        <div id="ready">나와 가장 어울리는 동아리는... </div>
        <div id="content">어? 이게 왜 되지?... </div>
        <div id="name"> 개발 동아리</div>
        <article>
            <h3>멋사</h3>
            <img src="">
            <p>웹 개발이 하고싶은 당신! 혹시 "멋쟁이 사자처럼"은 어떠신가요?

                멋쟁이 사자처럼은 대학연합동아리로서 웹 프로그래밍의 기초 지식을 쌓고, 자신의 아이디어를 실현 시킬 수 있는 동아리입니다!
                
                멋쟁에 사자처럼에서는 정기적인 세션(HTML,CSS,DJANGO...)과 아이디어톤, 해커톤 등 다양한 프로젝트를 진행하며 
                전공,비전공 상관없이 코딩에 열정을 가지고 있으신 분을 환영합니다!
                
                21년 모집 상황
                활동 기간: 매주 금요일 6시~
                장소: 구글 MEET(비대면)
                지원 방법: 지원서 제출 후 면접</p>
        </article>
        <article>
            <h3>GDSC</h3>
            <img src="">
            <p>사회문제해결과 개발 두가지 토끼를 잡고 싶은 당신! 혹시 "GDSC"는 어떠신가요?

                GDSC는 Google Developer Student Clubs 의 약자로 구글에서 지원하는 학생 개발자 커뮤니티 입니다!
                현재 다양한 국가에서 진행되고 있으며, 한국에선 14개의 대학교가 참여하고 있습니다.
                
                모여서 같이 코딩하기, 개발자 커뮤니티로서 프로젝트 진행하기, 사회문제해결을 주제로 하는 공모전 진행 등 
                다양한 프로젝트 경험으로 코딩 실력을 쌓아보세요!
            <p>21년 모집 상황
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법:</li>
                </ul></p>     
        </article>
        <article>
            <h3>CREATOR</h3>
            <img src="">
            <p>프로그래밍과 게임에 관심 있는 당신! 혹시 "creator"에서 둘 다 즐기는 건 어떠신가요?

                creator는 프로그래밍에 관심있는 사람들이 모여 만든 동아리입니다!
                동아리원들과 함께 웹 애플리케이션의 주제를 정하고 만드는 활동을 하며
                개발 뿐만 아니라 게임 문화도 같이 공유하고 있습니다.</p>
            <p>21년 모집 상황
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법:</li>
                </ul></p>    
                    
        </article>
        <button><a href="{%url 'list' %}">다른 동아리 보러가기!</a></button>
    </body>
</html>