<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/content.css' %}">
    </head>
    <body>
        <div id="ready">나와 가장 어울리는 동아리는... </div>
        <div id="content">idea for ideal</div>
        <div id="name">"아이디어 동아리"</div><hr>
        <article>
            <h1>&lt;teamMFS&gt;</h1>
            <img src="">
            <p>
                아이디어가 통통~ 공대 감성이 뿜뿜하는 당신, <br>
                넓은 작업실을 소유한 teamMFS를 추천합니다. <br>
                나만의 작업 공간을 가지고 놀듯이 활동하며, 자기개발도 할 수 있으니 일석이조!<br>
                기업과 협업하여 프로젝트를 진행할 수도 있다고 하니, 이보다 솔깃할 수 있을까요?<br></p>
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법: </li>
                </ul></p> 
                    
        </article>
        <article>
            <h1>&lt;Wings&gt;</h1>
            <img src="">
            <p>
                다양한 아이디어가 있고, 이를 직접 기획하고 싶은 당신,<br>
                아이디어 프로젝트 동아리인 Wings를 추천합니다!<br>
                캠페인, 이벤트, 공모전, 상품 제작 등 어떤 활동이든 프로젝트로 만들어 추진할 수 있습니다.</p>
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법: </li>
                </ul></p>  
                    
        </article>
        <button><a href="{%url 'list' %}">다른 동아리 보러가기!</a></button><br>
    </body>
</html>