<!DOCTYPE html>
{% load static %}
<html>
    <head><title>목차</title>
        <link rel="stylesheet" href="{% static 'css/content.css' %}"></head>
    <body id="list"> <br>
        <b><h2>[삼육대학교 정규 동아리 분야]</h2></b>
        <h1 style="font-size: 1.5em;">☛ 클릭하면 소개 페이지로 이동합니다!</h1>
        <ul>
            <li><a href="{%url 'create' %}"><span>☛</span> 개발 동아리</a></li>
            <li><a href="{%url 'volunteer' %}"><span>☛</span> 봉사 동아리</a></li>
            <li><a href="{%url 'act' %}"><span>☛</span> 종교 동아리</a></li>
            <li><a href="{%url 'picture' %}"><span>☛</span> 사진 동아리</a></li>
            <li><a href="{%url 'music' %}"><span>☛</span> 음악 동아리</a></li>
            <li><a href="{%url 'idea' %}"><span>☛</span> 아이디어 동아리</a></li>
            <li><a href="{%url 'sports' %}"><span>☛</span> 스포츠 동아리</a></li>
            <li><a href="{%url 'dance' %}"><span>☛</span> 댄스 동아리</a></li>
            <li><a href="{%url 'nature' %}"><span>☛</span> 자연 동아리</a></li>
            <li><a href="{%url 'society' %}"><span>☛</span> 사회 동아리</a></li>
            <li><a href="{%url 'content' %}"><span>☛</span> 컨텐츠 동아리</a></li></ul>

            <button><a   href="{%url 'start'%}">메인화면</a></button><br>

        
    </body>
</html>