<!DOCTYPE html>
{% load static %}
<html>
    <head><title>목차</title>
        <link rel="stylesheet" href="{% static 'css/content.css' %}"></head>
    <body id="list"> <br>
        <b><h2 style="font-family: 'Courier New', Courier, monospace;">[삼육대학교 정규 동아리 분야]</h2></b>
        <h1 style="font-size: 1.5em;">☛ 클릭하면 소개 페이지로 이동합니다!</h1>
        <ul>
            <li><a href="{%url 'create' %}">개발 동아리</a></li>
            <li><a href="{%url 'volunteer' %}">봉사 동아리</a></li>
            <li><a href="{%url 'act' %}">종교 동아리</a></li>
            <li><a href="{%url 'picture' %}">사진 동아리</a></li>
            <li><a href="{%url 'music' %}">음악 동아리</a></li>
            <li><a href="{%url 'idea' %}">아이디어 동아리</a></li>
            <li><a href="{%url 'sports' %}">스포츠 동아리</a></li>
            <li><a href="{%url 'dance' %}">댄스 동아리</a></li>
            <li><a href="{%url 'nature' %}">자연 동아리</a></li>
            <li><a href="{%url 'society' %}">사회 동아리</a></li>
            <li><a href="{%url 'content' %}">컨텐츠 동아리</a></li></ul>

            <button><a   href="{%url 'start'%}">메인화면</a></button><br>

        
    </body>
</html>