<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/content.css' %}">
    </head>
    <body>
        <div id="ready">나와 가장 어울리는 동아리는... </div>
        <div id="content">마음껏 찍어봐!</div>
        <div id="name">"사진 동아리"</div>
        <hr>
        <article>
            <h1>&lt;빛감&gt;</h1>
            <img src="{% static 'css/img/light.png' %}">
            <p>사진뿐만 아니라 영상까지 원한다면? 빛감에 가입해보세요! <br>
                빛감은 사진과 영상을 다루는 멀티미디어 동아리입니다.
                한달에 한번 정기 출사까지! '촬영'을 좋아한다면 ‘빛감’에 가입하기를 적극 추천합니다.
                당신이 꿈꿔온 다양한 미디어를 이곳에서 만들어보는 게 어떨까요?</p>
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법: </li>
                </ul></p> 
        </article>
        <article>
            <h1>&lt; viewfinder&gt;</h1>
            <img src="{% static 'css/img/viewfinder.jpg' %}">
            <p>viewfinder는 사진을 좋아하는 사람들이 모인 동아리입니다. <br>
             카메라에 전문성이 없어도 다 같이 배워 나갈 수 있습니다! 
             정적인 사진의 매력에 푹 빠지고 싶다면 'viewfinder'에 가입해보시는건 어떨까요?
             모험가처럼 여기저기 다니며 많은 것들을 찍어보세요!
            </p>
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법: </li>
                </ul></p> 
        </article>
        <button><a href="{%url 'list' %}">다른 동아리 보러가기!</a></button><br>
    </body>
</html>