<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
        <div id="ready">나와 가장 어울리는 동아리는... </div>
        <div id="content">마음껏 찍어봐!</div>
        <div id="name">  사진 동아리</div>
        <hr>
        <article>
            <h3>viewfinder</h3>
            <img src="">
            <p> 사진뿐만 아니라 영상까지! viewfinder에 가입해보세요!<br>
                viewfinder는 사진과 영상을 다루는 멀티미디어 동아리입니다.<br>
                사진과 영상을 찍는 것을 좋아한다면 ‘빛감’에 가입하기를 적극 추천합니다. <br>
                가입하여서 네가 꿈꿔 온 다양한 미디어를 만들어 내는 게 어떨까요?</p>
            <p>21년 모집 상황
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법:</li>
                </ul></p> 
        </article>
        <article>
            <h3>파이널컷</h3>
            <img src="">
            <p> 한때 롤모델이 봉준호 감독이였나요? 그럼 파이널 컷으로 오세요!<br>
                단편영화 제작 및 문화생활 동아리입니다.<br>
                영상, 특히 영화와 이와 관련된 연출에 관심이 많다면 ‘파이널컷’을 눈여겨볼 만합니다! <br>
                영상물을 연구하여 그들만의 단편영화를 만들어 내는 동아리로서<br> 
                마땅한 취미가 없다면 이 동아리로 문화 생활을 즐기는 게 어떨까요?</p>
            <p>21년 모집 상황
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법:</li>
                </ul></p> 
        </article>
        <button><a href="{%url 'list' %}">다른 동아리 보러가기!</a></button>
    </body>
</html>