<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
        <h3>대학생이 된 후 여가시간을 어떻게 활용하고 싶나요?<br>
            두 선택지 중 본인이 가장 이끌리는 것을 선택해보세요!</h3>
        <img src="">
        <button><a href="{%url 'A' %}">자기개발을 하며 나에게 도움이 되는 활동을 하고싶어!</a></button>
        <button><a href="{%url 'B' %}">협력을 하면서 팀 프로젝트를 진행해보고 싶어!</a></button>
        <br>
        <button><a href="{%url 'start' %}">뒤로가기</a></button>
    </body>
</html>