<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
        <div id="ready">나와 가장 어울리는 동아리는... </div>
        <div id="content">오늘은 무슨 일이 일어날까?</div>
        <div id="name"> 사회 동아리</div>
        <hr>
        <article>
            <h3>불기둥</h3>
            <img src="">
            <p>주식에 관심있는 당신! 불기둥은 어떠신가요?<br>
            불기둥은 삼육대학교의 유일한 금융투자동아리입니다! 경제,산업,기업을 분석하여<br>
            금융투자에 대한 자신만의 견해를 구축하고자 하며, 금융관련 공모전 참여 등 향후 금융권 취업 스펙에<br>
            도움이 되는 활동까지 진행합니다!</p>
            <p>21년 모집 상황
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법:</li>
                </ul></p> 
        
        </article>
        <article>
            <h3>Su-Eco</h3>
            <img src="">
            <p> 돈이 돌아가는 세상을 알고 싶은 당신! Su-Eco에 가입해 보세요!<br>
                Su-Eco는 삼육대학교의 경제 동아리로서 경제에 관심있는 학생들끼리 교류하는 동아리입니다!<br>
            모두가 경제를 쉽게 배우고 즐길 수 있으며, 경제 관련 기사 스크랩, 경제 공모전과 대외활동까지 참여하여<br>
            경제 스펙을 쌓을 수 있는 기회가 주어집니다! 전공과 상관없이 편하게 지원해주세요!</p>
            <p>21년 모집 상황
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법:</li>
                </ul></p> 
        </article>
        <article>
            <h3>ELL</h3>
            <img src="">
            <p> 법을 알아야 하는 법! ELL에 가입하는 건 어떠신가요?<br> 
                ELL은 삼육대학교의 법률 동아리입니다! 학과,학년 심지어 법알못까지! 누구나 ELL에 가입하실 수 있습니다!<br>
            정기적으로 법 관련 이슈에 대한 토론을 진행하며, 법률 공모전 참여, 법 도서 독서모임까지 <br>
            법에 관심있다면 ELL에 가입해보세요!</p>
            <p>21년 모집 상황
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법:</li>
                </ul></p> 
        </article>
        <button><a href="{%url 'list' %}">다른 동아리 보러가기!</a></button>
    </body>
</html>