<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/content.css' %}">
    </head>
    <body>
        <div id="ready">나와 가장 어울리는 동아리는... </div>
        <div id="content">오늘은 무슨 일이 일어날까?</div>
        <div id="name">"사회 동아리"</div>
        <hr>
        <article>
            <h1>&lt;불기둥&gt;</h1>
            <img src="{% static 'css/img/fire.png' %}">
            <p>주식에 관심있는 당신, 불기둥은 어떠신가요?<br>
            불기둥은 삼육대학교의 유일한 금융투자 동아리입니다. 경제, 산업, 기업을 분석하여
            금융투자에 대한 자신만의 견해를 구축하고자 하며, 금융관련 공모전 참여 등 향후 금융권 취업 스펙에
            도움이 되는 활동까지 진행합니다.</p>
            <ul>
                <li>활동 기간: </li>
                <li>모집 대상: </li>
                <li>지원 방법: </li>
            </ul></p> 
        
        </article>
        <article>
            <h1>&lt;Su-Eco&gt;</h1>
            <img src="{% static 'css/img/sueco.jpg' %}">
            <p> 돈이 돌아가는 상황을 알고 싶은 당신, Su-Eco에 가입해보세요!<br>
                Su-Eco는 경제 동아리로서 경제에 관심있는 학생들끼리 교류하는 동아리입니다.<br>
            경제를 쉽게 배우고 즐기며, 경제 기사 스크랩, 공모전, 대외활동 등을 통해
            스펙까지 쌓을 수 있는 기회가 주어집니다. 전공과 상관없이 편하게 지원해주세요!</p>
            <ul>
                <li>활동 기간: </li>
                <li>모집 대상: </li>
                <li>지원 방법: </li>
            </ul></p> 
        </article>
        <article>
            <h1>&lt;ELL&gt;</h1>
            <img src="{% static 'css/img/ELL.jpg' %}">
            <p> 법은 꼭 알아야 하는 법! ELL에 가입하는 건 어떠신가요?<br> 
                ELL은 삼육대학교의 유일한 법률 동아리로 누구나 편히 가입할 수 있는 곳입니다.
            정기적으로 법 관련 이슈를 주제 삼아 토론하며, 법률 공모전 참여, 법서 독서모임까지 합니다. <br>
            법에 관심있다면 ELL에 가입해보세요!</p>
            <ul>
                <li>활동 기간: </li>
                <li>모집 대상: </li>
                <li>지원 방법:</li>
            </ul></p> 
        </article>
        <button><a href="{%url 'list' %}">다른 동아리 보러가기!</a></button><br>
    </body>
</html>