<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <title>시작 페이지</title>
    </head>
    <body>
        <h1>삼육 <span>동아리</span>를 모아모아</h1>

        <p>"JOIN US!"</p>
        <img src="{% static 'css/img/bin.png' %}">
        <p>삼육대학교 정규 동아리 26개 중<br>
        설문을 통해 나와 맞는 동아리를 찾아볼까요?
        </p> <br>
        <button><a id="start" href="{%url 'Qna' %}">Start</a></button>
    </body>
</html>