<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <title>결과지</title>
    </head>
    <body>
        <div id="ready">나와 가장 어울리는 동아리는... </div>
        <div id="content">마음을 나누고 싶어요!</div>
        <div id="name"> <br> 봉사 동아리</div>
        <hr>
        <article>
            <h3>심금</h3>
            <img src="">
            <p>여러 분야의 봉사에 관심이 많은 당신! 혹시 "심금"은 어떠신가요?

                심금은 사람의 마음을 울린다 라는 뜻으로 본인이 선정한 아이디어로 모두와 화합해 봉사를 실천할 수 있는 곳입니다.
                정해진 봉사내용이 없어 폭넓은 활동으로 매번 새로운 봉사활동이 가능합니다.
                
                봉사 활동 결정 과정에서는 비대면으로 모든 부원의 아이디어를 
                공유하여 투표하는 방식으로 진행됩니다.</p>
        </article>
        <article>
            <h3>뚜벅초</h3>
            <img src="">
            <p>봉사 스펙을 쌓고 싶은 당신! 혹시"뚜벅초가 간다!"는 어떠신가요?

                뚜벅초가 간다!는 봉사 중앙동아리로서,
                매주 금요일마다 독거노인댁에 방문하여 말벗 봉사를 진행하는 동아리입니다.
                뿐만 아니라 농작물을 길러 배달을 하고, 피플스 글로서리에 참여하여 봉사를하며 장학금까지 받을 수 있습니다!</p>

            <p>21년 모집 상황
            <ul>
                <li>활동 기간: </li>
                <li>모집 대상: </li>
                <li>지원 방법:</li>
            </ul></p>
                
        </article>
        <article>
            <h3>보담</h3>
            <img src="">
            <p>정기적인 봉사에 관심이 많은 당신! 혹시 "보담"은 어떠신가요?

                보담은 4개의 봉사(인형극,노인봉사,장애,아동교육,캠페인) 팀으로 이루어져
                원하는 봉사활동을 선택해 활동할 수 있습니다!
                
                또한, 21년 부터 굿네이버스 경기북구지부와 연계를 맺어 
                해당 기관과 함께 진행하는 인형극팀,캠페인의 팀원을 모집합니다.
                </p>
            <p>21년 모집 상황
                <ul>
                    <li>활동 기간: </li>
                    <li>모집 대상: </li>
                    <li>지원 방법:</li>
                </ul></p>
                    
        </article>
        <button><a href="{%url 'list' %}">다른 동아리 보러가기!</a></button>
    </body>
</html>