@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p { font-family: 'Cafe24Ssurround';
    text-align: center;
    font-size: 24px;}
h1 { text-align: center; 
     font-family: jua;
     font-size: 3em;}
body { background: #e3f6f5;
       vertical-align: middle;
        border-radius: 30px;
        width:650px; height: 500px ;
        margin: auto;
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

button { margin: auto;
         display: block;
         width: 100px;
         height: 70px;
         border-radius: 15px;
         font-size: 1.3em;
         font-family: 'LAB디지털';
         font-weight: 700;
         background-color: #ffcb00;
         box-shadow : 5px 5px;
         box-shadow : 8px 8px 10px;
         border-style: hidden; }
a { text-decoration: none; 
    color: black; animation: blink-effect 1s step-end infinite;}
@keyframes blink-effect { 50% { opacity: 0; } }

  html { background-color: #151538; }
img { width:280px; height:190px; display: block; margin: auto;}
span{text-shadow: 2.5px 2.5px 2.5px #000; color: #ffcb00;}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
