@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p { font-family: 'Cafe24Ssurround';
    text-align: center;
    font-size: 25px;}
h3 { font-family: 'Pretendard-Regular';
     text-align: center;
     font-size: 25px;}
body { background: #e3f6f5;
       vertical-align: middle;
        border-radius: 20px;
        width:900px; height:max-content;
        margin:auto;}
button { margin: auto;
         display: block;
         }
a{text-decoration: none;}
html{ background-color: #2c698d; }
img{ width:300px; height:300px; display: block; margin: auto;}